body {
  font:13px/1.5 Arial,Verdana,Helvetica,Arial,sans-serif;
  background-color:white;
  color:black;
  display:block;
  font-size:80%;
  margin:2px auto 0;
  min-height:1000px;
  padding:0;
  position:relative;
  text-align:left  
}
.breadcrumb { margin-bottom: 1em;text-decoration: none }
#logo { margin-top:0.5em }
h2 a, h3 a { text-decoration: none }
a:link, a:visited { 
  color:#191970;
  text-decoration:none 
}
.region-sidebar-first-inner { padding-top:1.5em }
.region-content-inner {
  border-left:1px solid silver;
  display:block;
  float:left;
  margin-left:30px;
  margin-right:0;
  margin-top:8px;
  padding:8px 0 15px 30px;
  position:relative;
  text-align:left
}
.branding-data { padding-top:2em }
.logo-img img { width:230px;height:67px }
.CMSlineright, .CMSnolineright {
  border-right:1px solid silver;
  margin-right:1em;
  padding-right:1em;
  font-size:smaller;
  width:170px;
  float:left;
  width:170px
}
.CMSnolineright { border:0 none }
#block-system-navigation li, #block-system-user-menu li {
  border-bottom:1px solid silver;
  line-height:1.5em;
  margin-right:0;
  padding-right:0;
  list-style-type:none;
  list-style-image:none;
  line-height:1.5em
}
#block-system-user-menu, #block-system-navigation { margin-top:2em }
.container-12 .grid-3 { width:260px }
.naviextrabox {
    background-color:#F7F7F7;
    border:1px solid silver;
    margin-top:2em;
    padding:1em 1em 0
}
ul.naviextra { margin-left:0;padding-left:0 }
ul.naviextra li {
    list-style-type:none;
    margin-left:0;
    padding-left:0
}
h1 { color:#191970;font-size:larger }
.view-sponsors table { border:none }
h2.block-title { font-size:100% }

#block-boxes-links { 
    background-color: #F7F7F7;
    border: 1px solid silver;
    margin-top: 2em;
    padding: 1em 1em 0
}
.block-search-api-facets, .block-search-api-saved-searches-job-search, #block-blog-recent {
  background-color: #F7F7F7;
  border: 1px solid silver;
  margin-top: 2em;
  padding: 1em 1em 0
}

.view-linux-scene .view-node-views, .field-content p { margin-bottom:0px }
#block-boxes-sponsors { padding-top:50px }

#block-views-node-views-block-1, #block-boxes-workshop, #block-boxes-events { 
  margin-right:2em;
  padding-right:2em;
  border-right:1px solid silver;
  width:170px;
  float:left
}

#block-views-node-views-block-1, #block-boxes-workshop, #block-views-node-views-block-2 p { line-height:15px }

#block-views-node-views-block-2 {
  margin-right:2em;
  padding-right:2em;
  width:170px;
  float:left
}

.view-display-id-page_1, .node-event { 
  clear:both;
  padding-top:42px
}

.view-display-id-page_1 .views-row { 
  border-bottom:1px solid silver;
  padding:1em 0
}
.view-display-id-page_2 .views-row { 
  border-bottom:1px solid silver;
  padding:1em 0
}
.view-display-id-block_4 .views-row { 
  border-bottom:1px solid silver;
  padding:1em 0
}

#block-menu-menu-community ul li.leaf { 
  list-style:none;
  line-height:18px
}
#block-menu-menu-community { padding-bottom:15px }

.view-sponsors .views-field-field-date .date-display-single { font-size:1.5em }
#block-system-main .view-display-id-page_1 .views-field-title { font-size:1.5em } 
#block-system-main .view-display-id-page_2 .views-field-title { font-size:1.5em }
#block-views-sponsors-block-4 .view-display-id-block_4 .views-field-title { font-size:1.5em }

#signup-node-admin-summary-form, #signup-node-settings-form, #signup-form, #signup-broadcast-form { 
  clear:both;
  padding-top:15px
}

/* CSS copied for content copied over from steph's layout */
/* TODO Rewrite BODY to use WYSIWYG markup instead */

h3.CMStitel {
    color: #191970;
    font-size: larger;
    margin-top: 0;
}
span.CMSdatum, span.CMSvorschaudatum {
    font-weight: normal;
}
div.CMSvorspann {
    font-weight: bold;
    margin-bottom: 1em;
    margin-top: 1em;
}
div.CMStext {
    margin-top: 0;
    font-weight: normal
}
div.CMSkastenrechts, div.CMSkastenlinks, div.CMSboxrightwide, div.CMSboxleftwide, div.CMSboxleftverywide, div.CMSlineright, div.CMSlinerightwide, div.CMSnolineright, div.CMSnolinerightwide, div.CMSnolineleft, div.CMSnolineleftwide, div.CMSlineleft, div.CMSlineleftwide {
    font-weight: normal;
}
div.CMSlineright, div.CMSlinerightwide {
    border-right: 1px solid silver;
    margin-right: 1em;
    padding-right: 1em;
}
.CMSboxleftwide, div.CMSlinerightwide, div.CMSnolinerightwide {
    float: left;
    margin-right: 20px;
    width: 220px;
}
div.CMSvorschau {
    clear: both;
    font-weight: normal;
    margin-bottom: 2em;
    margin-top: 0;
}
h3.CMSvorschautitel {
    color: #000033;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    text-decoration: none;
}
div.CMStextbild {
    border: 1px solid silver;
    float: right;
    margin-left: 1em;
}
div.CMSvorschauliste {
    margin-top: 0;
}
/* End of Steph's CSS */
