@CHARSET "UTF-8";


.field-type-term-level {
  margin: 1em 0;
}

.term-level-widget-label {
  font-weight: bold;
}

.term-level-show-js,
html.js .term-level-hide-js {
  display: none;
}

html.js .term-level-show-js {
  display: block;
}

table.term-level-element-table caption {
	text-align: left;
}

table.term-level-element-table {
	margin: 0.5em 0;
}

th.term-level-element-table-header-col,
td.term-level-element-table-col-radio {
  text-align: center;
}

div.term-level-element-tag-cloud-title {
  font-weight: bold;
}

table.term-level-element-table .ajax-progress,
table.term-level-element-table .ajax-progress .throbber {
  float: none;
}

a.term-level-tag-cloud-more {
  font-weight: bold; 
}

span.term-level-tag-cloud-hide {
  display: none; 
}

.term-level-field-label {
  font-weight: bold;
}