body {
  font: 13px/1.231 arial,helvetica,clean,sans-serif;
  font-size: small
}  
p {
  padding: 15px 0 0 0;
  line-height: 1.7em;
  color: black;
  letter-spacing: 0.3px;
}
h1.site-name span {
  font-family: 'PT Sans', sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #505050;
  letter-spacing: -1.25px;
  line-height: 0.9em;
}

