$breakpoint-to-ems: true;
$grids: 12;
$gutters: 1/3;

$tiny-teeny-fucking-mobi: 75px 304px;
$mobi-portrait: 320px;
$mobi-landscape: 480px;
$mobi-small-tablet-portrait: 600px;
$mobi-medium-tablet: 600px 800px;
$mobi-small-tablet-landscape: 800px;
$mobi-tablet-portrait: 768px;
$mobi-tablet-landscape: 1024px;

$touch: point coarse, 'no-query' '.touch';
