// Import external libraries.
@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Import variables, abstractions, base styles and components using globbing.
//
// Globbing will always import files alphabetically. Optimally, all your
// components should be self-contained and explicit enough to not have any
// contained styles leak into unrelated components: The import order should not
// affect the result.
//
// If there are variables, functions or mixins that depend on each other and
// therefore need to be imported in a specific order you can import them
// directly. Variables-, function- or mixin providing partials should never
// output any styles themselves: Importing them multiple times to resolve
// dependencies shouldn't be a problem.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

.l-page {
    margin: 0 auto;
    @include breakpoint($mobi-tablet-landscape, true) {
      width: $mobi-tablet-landscape;
    }
}
// location map
iframe {
  height: 500px;
  max-width: 100%;
}

a.site-logo {
  margin-top: -5px;
}

article {
  @include clearfix;
}

.l-main {
  @include clearfix;
}

ul {
  margin: 0.2em auto;
}

ul li {
  list-style-type: none;
}

ul.breadcrumb {
  margin: 4% auto;
  padding: 0;
}

ul.breadcrumb li {
  list-style: none;
  margin: 0;
  padding: 0 5px 0 10px;
  float: left;
  height: 38px;
  line-height: 38px;
  text-transform: uppercase;
  font-size: 0.8em;
  text-shadow: 1px 1px 0 #ffffff;
}

#main-content {
  @include clearfix;
}

#block-views-meetup-com-feed-block .block__content {
  margin-top: 0.8em;
  font-size: 80%;
}

header {
  margin: 2.221em 0 3em 10px;
}

@include breakpoint($tiny-teeny-fucking-mobi, true) {
  html {
    content: 'tiny fucking embedded lpos';
  }
  header {
    margin: 1.221em 7px 0;
  }
  h1.site-name {
    line-height: 1px;
  }
  h1.site-name span {
    font-size: 0.9em;
  }
  ul.breadcrumb {
   margin: -2% auto;
  }
  iframe {
    max-width: 90%;
    height: 90%;
  }
}

@include breakpoint($mobi-portrait, true) {
  html {
    content: 'mobi portrait';
  }
  .site-name {
    margin: 5px 0 -65px 0;
  }
  .l-region--sidebar-first li {
    margin-left: 2%;
  }
  ul.breadcrumb {
    margin: 15% auto;
  }
  h2.block__title {
    font-size: 125%;
  }
  h1.site-name span {
    font-size: 115%;
  }
  body.not-front article h1 {
    font-size: 130%;
  }
  body.not-front article {
    margin-top: 0;
  }
  article {
    padding: 8px;
    margin-top: -5%;
    text-align: justify;
  }
}

@include breakpoint($mobi-landscape, true) {
  html {
    content: 'mobi landscape';
  }
  h1.site-name span {
    font-size: 140%;
  }
  article {
    margin-top: -5%;
  }
}

@include breakpoint($mobi-medium-tablet, true) {
  html {
    content: 'mobi medium tablet';
  }
}

@include breakpoint($mobi-small-tablet-portrait, true) {
  html {
    content: 'mobi small tablet portrait';
  }
  ul.breadcrumb {
   margin: 10% auto;
  }
  h1.site-name span {
    font-size: 174%;
  }
  article {
    margin-top: 5%;
  }
}

@include breakpoint($mobi-tablet-portrait, true) {
  html {
    content: 'mobi tablet portrait';
  }
  .l-region--sidebar-first {
    @include grid-span(4,1);
      margin: 10% auto;
      font-size: 115%;
      font-family: 'PT Sans', sans-serif;
  }
  .l-content {
    @include grid-span(8,5);
    padding-left: 0.5em;
  }
  .site-logo {
    @include grid-span(4,1);
  }
  .site-name {
    @include grid-span(8,5);
    margin-top: -14px;
    padding-left: 0.5em;
  }
  ul.breadcrumb {
    margin: 13% auto;
  }
  article {
    padding: 8px;
    text-align: justify;
  }
  h1.site-name span {
    font-size: 180%;
  }
  p {
    letter-spacing: 0.4px;
  }
}

@include breakpoint($mobi-small-tablet-landscape, true) {
  html {
    content: 'mobi small tablet landscape';
  }
  h1.site-name span {
    font-size: 186%;
  }
  article {
    margin-top: 7%;
  }
  body.not-front article {
    margin-top: -2.21%;
  }
}

@include breakpoint($mobi-tablet-landscape, true) {
  html {
    content: 'mobi tablet landscape';
  }
  .l-region--sidebar-first {
    @include grid-span(4,1);
      margin: 8% auto;
      font-size: 115%;
      font-family: 'PT Sans', sans-serif;
  }
  .l-content {
    @include grid-span(8,5);
    padding-left: 1.5em;
  }
  .site-logo {
    @include grid-span(4,1);
  }
  .site-name {
    @include grid-span(8,5);
    padding-left: 0.5em;
    margin-top: -14px;
  }
  h1.site-name span {
    font-size: 221%;
  }
  ul.breadcrumb {
    margin: 11% auto;
  }
  article {
    padding: 8px;
    text-align: justify;
  }
  ul.menu,#block-views-sponsors-block-2 .block__content {
    margin-left: 11px;
  }
}
