body {
  font:13px/1.5 Arial,Verdana,Helvetica,Arial,sans-serif;
  background-color:white;
  color:black;
  display:block;
  font-size:80%;
  margin:2px auto 0;
  min-height:1000px;
  padding:0;
  position:relative;
  text-align:left  
}
#region-content {
  border-left:1px solid silver;
  display:block;
  float:left;
  margin-left:10px;
  margin-right:0;
  margin-top:-80px;
  padding:8px 0 15px 9px;
  position:relative;
  text-align:left
}
.branding-data { padding-top:2em }
.logo-img img { width:230px;height:67px }
.CMSlineright, .CMSnolineright {
  border-right:1px solid silver;
  margin-right:1em;
  padding-right:1em;
  font-size:smaller;
  width:170px;
  float:left;
  width:170px
}
.CMSnolineright { border:0 none }
#block-system-navigation li{
  border-bottom:1px solid silver;
  line-height:1.5em;
  margin-right:0;
  padding-right:0;
  list-style-type:none;
  list-style-image:none;
  line-height:1.5em
}
#block-system-navigation a:link, a:visited{ text-decoration:none;color:#191970 }
.container-12 .grid-3 { width:260px }
.naviextrabox {
    background-color:#F7F7F7;
    border:1px solid silver;
    margin-top:2em;
    padding:1em 1em 0
}
ul.naviextra { margin-left:0;padding-left:0 }
ul.naviextra li {
    list-style-type:none;
    margin-left:0;
    padding-left:0
}
.container-12 .grid-9 { width:820px }
